<section>
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered By: {{listFilter }}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="posts.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)="toggleImage()">
                                {{ !showImage ? 'Show' : 'Hide' }} Image
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Published</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of filteredPosts">
                        <td>
                            <img *ngIf="showImage" [src]="post.imageUrl" [title]="post.title"
                                [style.width.px]="imageWidth" [style.margin.px]="imageMargin" />
                        </td>
                        <td>{{post.title}}</td>
                        <td>{{post.author}}</td>
                        <td>
                            <span *ngFor="let category of post.categories" class="badge badge-primary mr-1">
                                {{ category }}
                            </span>
                        </td>
                        <td>{{post.publishedAt}}</td>
                        <td>
                            <app-post-likes
                                [likes]="post.likes"
                                [postId]="post.id"
                                (liked)="onClickLikes($event)">
                            </app-post-likes>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>